html, body {
    height: 100%;
    margin: 0;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

#control-panel {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    bottom: 12px;
    left: 12px;
    z-index: 480;
}

.coordinates-icon {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #0d6efd;
    background-color: #0d6efd;
    color: white !important;
    text-decoration: none;
}

#coordinates {
    font-size: 14px;
    border-color: #0d6efd;
    border-top-left-radius: 0;
    background: transparent;
}

::-webkit-input-placeholder {
    font-size: 14px!important;
    color: #0d6efd !important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    font-size: 14px!important;
    color: #0d6efd !important;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
    font-size: 14px!important;
    color: #0d6efd !important;
 }