pymobiledevice3==2.18.1
python-socketio==5.10.0
eventlet==0.34.2
aiofiles==23.2.1
annotated-types==0.6.0
anyio==3.7.1
arrow==1.3.0
asn1==2.7.0
asttokens==2.4.1
attrs==23.1.0
bidict==0.22.1
blessed==1.20.0
bpylist2==4.1.1
cached-property==1.5.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cmd2==2.4.3
coloredlogs==15.0.1
construct==2.10.70
cryptography==41.0.7
daemonize==2.5.0
decorator==5.1.1
developer-disk-image==0.0.2
dnspython==2.4.2
email-validator==2.1.0.post1
enum-compat==0.0.3
executing==2.0.1
fastapi==0.105.0
gnureadline==8.1.2
gpxpy==1.5.0
greenlet==3.0.2
h11==0.14.0
hexdump==3.3
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.2
humanfriendly==10.0
hyperframe==6.0.1
idna==3.6
ifaddr==0.2.0
inquirer3==0.4.0
ipsw-parser==1.2.1
ipython==8.18.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
la-panic==0.4.9
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
nest-asyncio==1.5.8
opack==0.1.0
orjson==3.9.10
packaging==23.2
parso==0.8.3
pexpect==4.9.0
Pillow==10.1.0
plumbum==1.8.2
prompt-toolkit==3.0.43
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pycrashreport==1.2.2
pycryptodome==3.19.0
pydantic==2.5.2
pydantic-extra-types==2.2.0
pydantic-settings==2.1.0
pydantic_core==2.14.5
Pygments==2.17.2
pygnuutils==0.1.1
pyimg4==0.8
pykdebugparser==1.2.4
pyperclip==1.8.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-engineio==4.8.0
python-multipart==0.0.6
pytun-pmd3==1.0.0
pyusb==1.2.1
PyYAML==6.0.1
qh3==0.14.0
readchar==4.0.5
remotezip==0.12.1
requests==2.31.0
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
srptools==1.0.1
stack-data==0.6.3
starlette==0.27.0
tabulate==0.9.0
termcolor==2.4.0
tqdm==4.66.1
traitlets==5.14.0
types-python-dateutil==2.8.19.14
typing_extensions==4.9.0
ujson==5.9.0
urllib3==2.1.0
uvicorn==0.24.0.post1
uvloop==0.19.0
watchfiles==0.21.0
wcwidth==0.2.12
websockets==12.0
wsproto==1.2.0
zeroconf==0.129.0
